[Unit]
Description=gns3server Service
After=network.target

[Service]
Type=forking
Environment=statedir=/var/cache/gns3
PIDFile=/opt/gns3/.pid/gns3.pid
User=gns3
Group=gns3
WorkingDirectory=/opt/gns3/.config
ExecStart=/usr/bin/gns3server --log /opt/gns3/.log/gns3_server.log \
	--pid /opt/gns3/.pid/gns3.pid --daemon
Restart=on-abort
TimeoutSec=30

[Install]
WantedBy=multi-user.target
